*{
  /*
  다크모드
  background-color: #1f1f1f;
  color: #eee;
  */
}

a {
  color: yellowgreen;
}

button {
  /*
  다크 모드
  border: 1px solid #eee;
  */
  border: 1px solid #1f1f1f;
}

input {
  outline: none;
}

#signUpBox {
  /* border: 1px solid blue; */
  margin: 0 auto;
  padding: 50px 20px 20px 20px;
  width: 400px;
}

#signUpBox h1 {
  text-align: center;
}

#signUpBox input {
  padding: 0 10px;
  width: 250px;
  height: 30px;
  border: 1px solid #1f1f1f;
  /* 다크 모드 border: 1px solid #ddd; */
  border-radius: 10px;
}

#signUpBox input::placeholder {
  color: #aaa;
  font-size: 12px;
}

#signUpBox button {
  margin: 0 10px;
  width: 100px;
  height: 40px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #eee;
  color: #1f1f1f;
  /*
  다크 모드
  background-color: #1f1f1f;
  color: #eee;
  */
}

#signUpBox .input-div {
  /* border: 1px solid red; */
  height: 50px;
}

#signUpBox .input-div2 {
  display: flex;
}

#signUpBox .input-label {
  /* border: 1px solid gold; */
  padding: 5px 0;
  width: 150px;
}

#signUpBox .btn-area {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

/* validate error style */
#signUpBox label.error {
  /* border: 1px solid green; */
  width: 100%;
  position: relative;
  color: #ff4c4c;
  font-size: 12px;
  left: 33%;
}